@tailwind base;
@tailwind components;
@tailwind utilities;

/*Background carousel https://www.cssscript.com/css-only-crossfading-background-slideshow/*/
body{
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

.crossfade > figure {
    animation: imageAnimation 30s infinite;
    background-size: cover;
    background-position: center center;
    color: transparent;
    height: 100%;
  }

  @media (max-width: 1024px) {
    .crossfade{
      display: none;
    }
}
@keyframes 
imageAnimation {
  0%,100%  {background-image: url('../public/carouselImages/1.jpg');}
  33% {background-image: url('../public/carouselImages/2.jpg');}
  66% {background-image: url('../public/carouselImages/3.jpg');}
}